/* GENERAL */

/* Used fonts: */

@font-face{
    font-family: 'superCorn';
    src: url(./fonts/super-corn.ttf);
}

@font-face{
    font-family: 'dmsans';
    src: url(./fonts/dm-sans-regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    background-image: url(./assets/background-image.png);
    background-size: cover;
    font-family: 'superCorn', sans-serif;
}

.button{
    cursor: pointer;
}

.hidden-at-start{
    opacity: 0;
    pointer-events: none;
}

/* MAIN HEADER */

#project-header{
    /* Header Gradient */
    background: linear-gradient(90deg, rgba(5,70,29,1) 10%, rgba(2,34,14,1) 50%, rgba(5,70,29,1) 90%); 
}

#settings-button{
    position: absolute;
    top: 1.1rem;
    left: 2rem;
    width: 2rem;
    aspect-ratio: 1;
    border: 0;
    background: url(./assets/settings-icon.svg);
    background-repeat: no-repeat;
}

#settings-button.active{
    -ms-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
}

#logo-container{    
    display: flex;
    align-items: center;
    justify-content: center;
}

#teamguessr-logo{
    margin-top: 0.4rem;
    margin-bottom: 0.3rem;
    width: 3.5rem;
}

#hamburger-button{
    position: absolute;
    top: 1.1rem;
    right: 2rem;
    aspect-ratio: 1;
    width: 2rem;
    border: 0;
    background: url(./assets/hamburger-icon.svg);
    background-repeat: no-repeat;
    z-index: 99;
}

#hamburger-button.active{
    background: url(./assets/close-icon.svg);
}

/* NAVIGATION MENU */

#navigation-menu{
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    padding-top: 3rem;
    width: 40%;
    max-width: 20rem;
    text-align: center;
    transition: 0.2s;
    cursor: default;
    z-index: 98;

    /* Glass Background */

    background: rgba(5, 70, 29, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(5, 70, 29, 1);
}

#navigation-menu.active{
    right: 0;
}

#navigation-menu a{
    display: block;
    padding: 1rem;
    font-size: 1.25rem;
    color: #ffd800;
    text-decoration: none;
    letter-spacing: 0.25rem;
}

#navigation-menu a::after{
    display: block;
    margin: auto;
    width: 50%;
    height: 1px;
    content: '';
    transition: 400ms;
    background: #ffd800 transparent;
}

#navigation-menu a:hover::after{
    display: block;
    background-color: #ffd800;
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 28rem;
    height: 70vh;
    border: 0.15rem solid #ffd800;
    border-radius: 10px;
    transition: 0.3s ease;
    background-color: #02220e;
    box-shadow: 5px 6px 8px 0px rgba(0, 0, 0, 0.82);
}

#game-container.active{
    filter: blur(6px);
    pointer-events: auto;
}

#inside-game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    width: 22rem;
    height: 50vh;
    text-align: center;
    border-radius: 10px;
    background-color: #05461d;
}

#start-game-button{
    position: absolute;
    padding: 16px 31px;
    border: 3px solid #ffd800;
	border-radius: 10px;
    transition: 250ms;
    background-color: #05461d;
    font-family: superCorn;
    font-size: 1.5rem;
    color: #ffd800;
    text-decoration: none;
    letter-spacing: 0.25rem;
}

#start-game-button:hover{
    background-color: #02220e;
}

#start-game-button.ongoing-game{
    opacity: 0;
    pointer-events: none;
}

#inputs-container{
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0.6rem;
    width: 24rem;
    height: 3rem;
    box-sizing: border-box;
}

#inputs-container.ongoing-game{
    opacity: 1;
    pointer-events: auto;
}

#check-button{
    display: inline-block;
    margin-left: 3rem;
    padding: 0.3rem 0.8rem;
	border-radius: 50%;
	border: 2px solid #ffd900;
    background-color: #05461d;
    font-family: Arial;
	font-size: 28px;
	color: #ffd900;
	font-weight: bold;
	text-decoration: none;
    cursor: pointer;
}

#check-button:hover {
	background-color:#02220e;
}

#result{
    position: absolute;
    margin: 0 auto;
    top: 1.2rem;
    font-size: 2rem;
    color: #ffd800;
    text-justify: newspaper;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

#answer-input{
    bottom: 0.8rem;
    padding: 0.5rem;
    width: 65%;
    border: 1px solid #ffd800;
    outline: none;
    border-radius: 7px;
    box-sizing:  border-box;
    background: none;
    font-family: superCorn;
    font-size: 1.35rem;
    color: rgb(189, 189, 189);
    letter-spacing: 0.1rem;
    line-height: 1.35rem;
    text-align: center;
}

#answer-input:focus{
    color: white;
    outline: 2px solid #ffd800;
}

#title-list{
    width: 95%;
    list-style: disc;
    list-style-position:inside;
}

#title-list.ongoing-game{
    opacity: 1;
    pointer-events: auto;
}

#title-list li{
    padding: 1.25rem 0;
    font-size: 1.25rem;
    color: rgb(240, 240, 240);
    letter-spacing: 0.1rem;

}

/* TUTORIAL POPUP */

#tutorial-popup{
    position: absolute;
    flex-direction: column;
    width: 30rem;
    padding: 0.4rem 0.9rem;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    color: #02220e;
    box-sizing: border-box;
    box-shadow: 5px 6px 8px 0px rgba(0, 0, 0, 0.82);
    transition: all 0.3s ease;
    text-align: justify;
}

@media screen and (max-width: 500px) {
    #tutorial-popup{
        width: 90vw;
    }
    #game-container{
        width: 82vw;
        height: 70vh;
    }
    #inside-game-container{
        height: 55vh;
        width: 70vw;
    }
    #inputs-container{
        height: 1.25rem;
        width: 20rem;
        bottom: 0.9rem;
    }
    #answer-input{
        height: 1.85rem;
    }
    #check-button{
        height: 2.25rem;
        width: 2.25rem;
        text-align: center;
        font-size: 1.6rem;
        padding: 0;
    }
    #result{
        top: 0.5rem;
        font-size: 1.5rem;
    }
}

#tutorial-popup.active{
    opacity: 1;
    pointer-events: auto;
}

h2{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}

.tutorial-items, p{
    margin-left: 0.3em;
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    margin-bottom: 1rem;
    list-style-type: none;
}

h2, p{
    text-align: center;
}

#continue-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#continue-button{
    width: 10rem;
    padding: 0.5rem;
    font-family: superCorn;
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
    text-decoration: none;
    color: #ffd800;
	border-radius: 10px;
	border: 3px solid #ffd800;
    background-color: #05461d;
    transition: 250ms;
    text-align: center;
}

#continue-button:hover{
    background-color: #02220e;
}

/* FOOTER */

footer{
    padding: 0.75rem 0;
    margin-top: auto;
    background: #02220e;
    color: #ffd800;
    font-family: dmsans;
}

footer p{
    font-size: 0.8rem;
    width: 80%;
    margin: 0.5rem auto;
    text-align: center;
}

#play-again-button{
    position: absolute;
    padding: 16px 31px;
    font-family: superCorn;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    text-decoration: none;
    color: #ffd800;
	border-radius: 10px;
	border: 3px solid #ffd800;
    background-color: #05461d;
    transition: 250ms;
}

#play-again-button:hover{
    background-color: #02220e;
}