/* GENERAL */

@font-face{
    font-family: 'superCorn';
    src: url(./fonts/super-corn.ttf);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'superCorn', sans-serif;
    background-image: url(./assets/background-image.png);
    background-size: cover;
    overflow-x: hidden ;
}

.button{
    cursor: pointer;
}

.hidden-at-start{
    opacity: 0;
    pointer-events: none;
}

/* MAIN HEADER */

#project-header{

    /* Header Gradient */

    background: rgb(5,70,29);
    background: linear-gradient(90deg, rgba(5,70,29,1) 10%, rgba(2,34,14,1) 50%, rgba(5,70,29,1) 90%); 
}

#settings-button{
    position: absolute;
    top: 1.1rem;
    left: 2rem;
    aspect-ratio: 1;
    width: 2rem;
    border: 0;
    background: url(./assets/settings-icon.svg);
    background-repeat: no-repeat;
}

#settings-button.active{
    -ms-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
}

#logo-container{    
    display: flex;
    align-items: center;
    justify-content: center;
}

#teamguessr-logo{
    width: 3.5rem;
    margin-top: 0.4rem;
    margin-bottom: 0.3rem;
    drop-shadow: inset -100px 10px 80px 20px #080707,
    0 0 40px 10px #ffd800;

}

#hamburger-button{
    position: absolute;
    top: 1.1rem;
    right: 2rem;
    aspect-ratio: 1;
    width: 2rem;
    border: 0;
    background: url(./assets/hamburger-icon.svg);
    background-repeat: no-repeat;
    z-index: 99;
}

#hamburger-button.active{
    background: url(./assets/close-icon.svg);
}

/* NAVIGATION MENU */

#navigation-menu{
    position: fixed;
    display: block;
    top: 0;
    right: -100%;
    width: 40%;
    max-width: 20rem;
    z-index: 98;
    text-align: center;
    transition: 0.2s;
    padding-top: 3rem;
    cursor: default;

    /* Glass Background */

    background: rgba(5, 70, 29, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(5, 70, 29, 1);
}

#navigation-menu.active{
    right: 0;
}

#navigation-menu a{
    font-size: 1.25rem;
    display: block;
    text-decoration: none;
    color: #ffd800;
    letter-spacing: 0.25rem;
    padding: 1rem;
}

#navigation-menu a::after{
    content: '';
    width: 50%;
    height: 1px;
    margin: auto;
    background: #ffd800 transparent;
    transition: 400ms;
    display: block;
}

#navigation-menu a:hover::after{
    background-color: #ffd800;
    display: block;
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 32rem;
    height: 80vh;
    border-radius: 10px;
    border: 0.15rem solid #ffd800;
    background-color: #02220e;
    box-shadow: 5px 6px 8px 0px rgba(0, 0, 0, 0.82);
    transition: 0.3s ease;
}

#game-container.active{
    filter: blur(6px);
    pointer-events: auto;
}

#inside-game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: 60vh;
    border-radius: 10px;
    background-color: #05461d;
}

#start-game-button{
    padding: 16px 31px;
    font-family: superCorn;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    text-decoration: none;
    color: #ffd800;
	border-radius: 10px;
	border: 3px solid #ffd800;
    background-color: #05461d;
    transition: 250ms;
}

#start-game-button:hover{
    background-color: #02220e;
}

#start-game-button.ongoing-game{
    opacity: 0;
    pointer-events: none;
}

#answer-input{
    position: absolute;
    width: 65%;
    bottom: 0.8rem;
    font-family: superCorn;
    font-size: 1.35rem;
    letter-spacing: 0.1rem;
    color: rgb(189, 189, 189);
    padding: 0.5rem;
    border-radius: 7px;
    border: 1px solid #ffd800;
    box-sizing: border-box;
    background: none;
    line-height: 1.35rem;
    outline: none;
    text-align: center;
}

#answer-input.ongoing-game{
    opacity: 1;
    pointer-events: auto;
}

#answer-input:focus{
    outline: 2px solid #ffd800;
    color: white;
}

#score-container{
    position: absolute;
    top: 1.2rem;
    right: 3.25rem;
}

#score-container.ongoing-game{
    opacity: 1;
    pointer-events: auto;
}


#score-container p{
    font-size: 1.5rem;
    color: #ffd800;
}

#title-list{
    position: absolute;
    display: flex;
    top: 7rem;
    justify-content: center;
    flex-direction: column;
    margin-left: 1.5rem;
}

#title-list.ongoing-game{
    opacity: 1;
    pointer-events: 1;
}

#title-list li{
    padding: 1.25rem;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    color: rgb(240, 240, 240);

}

/* TUTORIAL POPUP */

#tutorial-popup{
    position: absolute;
    flex-direction: column;
    width: 30rem;
    padding: 0.2rem;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    color: #02220e;
    box-sizing: border-box;
    box-shadow: 5px 6px 8px 0px rgba(0, 0, 0, 0.82);
    transition: all 0.3s ease;
}

@media screen and (max-width: 500px) {
    #tutorial-popup{
        width: 90vw;
    }
}

#tutorial-popup.active{
    opacity: 1;
    pointer-events: auto;
}

h2{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}

.tutorial-items, p{
    margin-left: 0.3em;
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    margin-bottom: 1rem;
    list-style-type: none;
}

h2, p{
    text-align: center;
}

#continue-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#continue-button{
    width: 10rem;
    padding: 0.5rem;
    font-family: superCorn;
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
    text-decoration: none;
    color: #ffd800;
	border-radius: 10px;
	border: 3px solid #ffd800;
    background-color: #05461d;
    transition: 250ms;
    text-align: center;
}

#continue-button:hover{
    background-color: #02220e;
}